@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

/*responsive*/
@media only screen and (max-width: 376px) {
    .card {
        width: 327px;
        flex-wrap: wrap;
    }

    .card__img {
        width: 327px;
        height: 200px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
    }

    .card__text {
        width: 263px;
        margin: 36px 32px 20px 32px;
    }

    .text-section--main {
        font-size: 16px;
        line-height: 24px;
    }

    .contact-section {
        margin-top: 32px;
    }

    .contact__person {
        width: 172px;
    }

    .btn__arrow {
        margin-left: 56px;
    }

    .btn__arrow:hover {
        background-color: hsl(212, 23%, 69%)
    }

    .btn__arrow:hover .popup .btn__popup .popup--social {
        visibility: visible;
        width: 327px;
        height: 64px;
        padding: 18px 36px 17px 37px;
        border-radius: 0 0 10px 10px;

        position: absolute;
        /*z-index: 1;*/
        bottom: 0px;
        right: 24px;

        align-items: center;
        justify-content: flex-start;
    }

    .btn__popup .popup--social::after {
        visibility: hidden;
    }

    .btn__arrow--responsive {
        visibility: hidden;
    }

    .btn__arrow:hover .btn__arrow--responsive {
        visibility: visible;
        background-color: hsl(212, 23%, 69%)
    }

    .social--text {
        height: 20px;
    }

    .social--icon {
        margin-left: 12px;
        height: 20px;
    }

/*.popup .btn--dark {*/
/*    display: none;*/
/*    margin-left: 15px;*/
/*}*/

/*.popup .btn__arrow--dark {*/
/*    display: none;*/
/*    border-radius: 50px;*/
/*    background-color: hsl(214, 17%, 51%);*/
/*    margin: auto;*/
/*}*/

/*.popup .btn--light:hover .popup .btn--dark {*/
/*    background-color: hsl(212, 23%, 69%);*/
/*    display: revert;*/
/*}*/

/*.popup .btn--light:hover .popup .btn__arrow--dark {*/
/*    background-color: hsl(210, 46%, 95%)*/
/*    display: revert;*/
/*}*/

